<!DOCTYPE html>
<html>
	
	{{> head }}

	<body>

		{{> header }}

		<main class="portfolio-item">

			<section id="item-header">
				<div class="section-content">
					<div id="item-header-left">
						<img id="item-image" src={{ image }}>
					</div>
					<div id="item-header-right">
						<h1 id="item-title">{{ title }}</h1>
						{{#if showGithub}}
							<a id="item-github" href={{ github }}>Github Repository <i class="fa fa-github"></i></a>
						{{/if}}
						<h3 id="item-date">{{ date }}</h3>
						{{#printRolesList roles}} {{/printRolesList}}
					</div>
				</div>
			</section>

			<hr>

			<section id="item-summary">
				<div class="section-content">
					<h2 class="section-header">About</h2>
					{{{ summary }}}
				</div>
			</section>

			<hr>

			<section id="item-technology">
				<div class="section-content">
					<h2 class="section-header">Technology</h2>
					{{#printTechnologyList technologies}} {{/printTechnologyList}}
				</div>
			</section>

			{{{ body }}}

		</main>

	</body>
</html>